body,html {
	margin: 0px;
	padding: 0px;
}
h2,h3,h4,h5 {
	margin: 10px 0px;
}
#canvasHolder {
/*
	width:720px;
	height:480px;
	border:solid 1px #aaa;
	margin: 20px auto;
*/
/*
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	top:0px;
	left: 0px;
*/
}
#middle {
/*
	width: 800px;
	margin: 0px auto;
*/
}
.button {
	float: right;
	margin: 0px 20px;
}

.stats {
	display: inline;
	float: right;
	margin: 0px 20px;
}

#gameOver {
	position: fixed;
	float: right;
	top: 150px;
	width: 400px;
	left: 420px;
	color: red;
	font-size: 36px;
	display:none;
	text-align: center;
	margin-top: 50px;
}

#instructions {
	clear: both;
}